* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f6f8;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #4f46e5;
    color: white;
    padding: 30px;
    text-align: center;
}

section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 8px;
}

h2 {
    margin-bottom: 10px;
    color: #222;s
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #222;
    color: white;
    margin-top: 30px;
}
button {
    padding: 10px 20px;
    margin-top: 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.dark-mode {
    background-color: #121212;
    color: #f4f4f4;
}

.dark-mode header,
.dark-mode footer {
    background-color: #1f1f1f;
}

.dark-mode section {
    background-color: #222;
}
section {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}
#about {
    max-width: 800px;
    margin: 50px auto;
    text-align: left;
}

#about ul {
    margin-top: 20px;
    padding-left: 20px;
}

#about li {
    margin-bottom: 10px;
}
#education {
    max-width: 800px;
    margin: 50px auto;
}
#skills {
    max-width: 800px;
    margin: 50px auto;
}

.skill {
    margin-bottom: 15px;
}

.bar {
    background: #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.fill {
    height: 10px;
    background: #333;
}

.c { width: 70%; }
.java { width: 65%; }
.mysql { width: 60%; }
.cv-btn {
    display: inline-block;
    padding: 10px 20px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}


button {
    background-color: #4f46e5;
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #3730a3;
    transform: scale(1.05);
}
h2 {
    transition: color 0.3s ease, transform 0.3s ease;
}

h2:hover {
    color: rgb(228, 23, 166);
    transform: scale(1.1);
}
h1 {
    transition: color 0.3s ease, transform 0.3s ease;
}

h1:hover {
    color: blue;
    transform: scale(1.05);
}
.projects-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    background-color: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
@media (max-width: 768px) {

    .projects-container {
        justify-content: center;
    }

    .project-card {
        width: 90%;
    }
}
